* {
    margin: 0;
    padding: 0;
    outline: none
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./img/Norse-Bold.otf) format(woff2);
}

/* html, body {
    overflow-x: hidden;
} */

body {
    display: flex;
    height: 100vh;
}

a:focus, a:active {
    outline: none;
}



/* ---------------------------- LOGO SIDE -------------*/

.background {
    width: 100%;
    background-image: url("./img/background-SF.png");
    background-position: center;
}

.background__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* width: 100%; */
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 0;
}

.background__logo-wrapper img {
    height: 100px;
    margin-right: 15px;
}


.logo {
    font-family: 'Norse-Bold';
    color: #fff;
    font-size: 70px;
}

/* ------------------------------ FORM SIDE ------------------------- */

.form-side {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.header,
.main,
.footer {
    flex: 1;
    padding-left: 40px;
    font-family: monospace;
    
}

h2 + h2 {
    padding-bottom: 30px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}


.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    
}

.main__fieldset {
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.form-element {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.input-element {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.legend {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

input {
    height: 22px;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    padding: 4px;
}

input:focus {
    border: 1px solid #5784de;
    box-shadow: 1px 1px 2px 1px rgba(114, 146, 218, 0.3);
    
}

.error {
    border: 1px solid rgb(218, 34, 34);
}

form {
    height: 100%;
    width: auto;
}

input:invalid{
    border: 1px solid #e70707;
    animation: invalid 0.3s 2;
}

@keyframes invalid {
    25% {
    translate: 6px 0;
    }
    50% {
    translate: -6px 0;
    }
    75% {
    translate: 6px 0;
    }
}

/* --------------------- FOOTER ---------------------------- */

.footer {
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.log-in {
    display: flex;
    gap: 5px;
}


.create-account {
    margin-top: 3%;
    background-color: #596D48;
    color: #fff;
    padding: 15px 55px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 15px;
    transition: border-color 0.2s, background-color 0.2s;
}

.create-account:hover {
    background-color:  #72b336;
    border-color: rgba(255, 255, 255, 0.5);
}

.create-account:active {
    background-color: #367c00;
    border-color: rgba(0, 0, 0, 0.5);
}

.log-in {
    font-size: 15px;
    font-weight: 400;
}

.log-in a {
    outline: none;
    text-decoration: none;
    font-weight: 900;
    color: #596D48;
    transition: color 0.3s;
}


.log-in a:hover {
    color: #72b336;
}


.log-in a:active {
    color: #367c00;
}

.correct {
    border: 2px solid rgb(42, 196, 119);
}
