* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./img/Norse-Bold.otf) format(woff2);
}

/* html, body {
    overflow-x: hidden;
} */

body {
    display: flex;
    height: 100vh;
}

/* ---------------------------- LOGO SIDE */

.background {
    width: 100%;
    background-image: url("./img/background-SF.png");
    background-position: center;
}

.background__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* width: 100%; */
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 0;
}

.background__logo-wrapper img {
    height: 100px;
    margin-right: 15px;
}


.logo {
    font-family: 'Norse-Bold';
    color: #fff;
    font-size: 70px;
}

/* ------------------------------ FORM SIDE ------------------------- */

.form-side {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.header,
.main,
.footer {
    flex: 1;
}

